{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-syntax-dynamic-import"],
    // ["react-hot-loader/babel"],
    [
      "import",
      {
        "libraryName": "antd"
      }
    ]
    // ["@babel/plugin-transform-decorators-legacy"]
  ]
}
